{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% import 'macros.html' as macro %}


{% block content %}

<!-- Content block -->
<div class="container">
    <h2><b>More</b></h2>
    <div class="row">
        {% if blogs %}

        <div class="col-md-8">
            <div class="body">
                {{blogs.blog_content}}
            </div>
        </div>
        <div class="col-md-4">
            <h2><b>Comments</b></h2>
            <b>leave a comment</b> <br>
            {% if current_user.is_authenticated %}
            {{ wtf.quick_form(comment_form) }}
            {%endif%} <br>
            {% for comment in comments %}
            <div class="comments">
                {{Comment.comments}}
            </div>
            {% endfor %}
        </div>
        {%endif%}
    </div>

</div>
<style>
    .container {
        background-image: url(/static/pictures/marble.jpg);
        height: 700px;
    }

    .body {
        background-color: rgb(247, 247, 247);
        line-height: 2;
        padding: 2%;
        margin: 5%;
        font-size: 20px;
        box-shadow: 5px 2px 5px 2px;

    }
</style>

{% endblock %}